/*BEGIN color variabels */
/* END color variabels */
/* BEGIN fonts variabels */
/* END fonts variabels */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.dark h2:before, .dark h2:after {
  background-color: white;
}

/* Begin rules for all document */
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.64em;
  color: white;
  color: orange;
  padding-top: 30px;
  padding-bottom: 100px;
}

h1 span {
  font-weight: 100;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  display: block !important;
  font-size: 24px;
  margin: 0;
  padding: 4.286em 0;
  color: orange;
  text-transform: uppercase;
  text-align: center;
}

h2 span {
  font-weight: 100;
}

h2:before, h2:after {
  content: "";
  width: 20px;
  height: 1px;
  margin: 0 20px;
  vertical-align: middle;
  display: inline-block;
  background-color: black;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

p.buttons {
  padding-top: 25px;
}

a {
  color: white;
  transition: color 0.5s;
}

a:hover, a:active {
  color: orange;
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* End rules for all document */
/* Begin menu section */
.nav .menu ul > li, .nav .left-menu ul > li {
  display: inline-block;
  padding-left: 20px;
  line-height: 70px;
  color: white;
}

.nav .menu ul > li:first-child, .nav .left-menu ul > li:first-child {
  padding-left: 0;
}

.logo {
  font-family: "Orbitron", sans-serif;
  line-height: 70px;
  position: fixed;
  left: 43%;
  color: white;
}

.logo:before, .logo:after {
  content: "";
  width: 20px;
  height: 1px;
  margin: 20px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}

.left-menu {
  float: left;
}

.right-menu {
  float: right;
}

ul > li.icons {
  float: right;
  padding-left: 10px;
  font-size: 1.23em;
}

ul > li.icons:last-child {
  padding-left: 70px;
}

.nav .container {
  border-bottom: 1px solid white;
}

.nav {
  z-index: 9999;
  width: 100%;
  position: fixed;
}

.nav.nav-menu-dark {
  background-color: black;
}

.menu-icon {
  float: right;
  line-height: 70px;
  font-size: 20px;
}

.small-menu {
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding-left: 0;
  position: absolute;
  text-align: left;
  right: 0;
  top: 70px;
  overflow: hidden;
}

.small-menu li {
  display: block;
  padding: 5px;
}

a.mPS2id-highlight {
  color: orange;
}

/* End menu section */
/* BEGIN menu-icon section */
.menu-button-switch {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 60px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-button-switch span {
  display: block;
  position: absolute;
  top: 32px;
  left: 18px;
  right: 18px;
  height: 2px;
  background-color: white;
}

.menu-button-switch span:before, .menu-button-switch span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  content: '';
}

.menu-button-switch span:before {
  top: -10px;
}

.menu-button-switch span:after {
  bottom: -10px;
}

.menu-button-rotate {
  outline: none;
}

.menu-button-rotate span::before,
.menu-button-rotate span::after {
  transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3, 0.3;
  -webkit-transition-duration: 0.3s, 0.3s;
  -moz-transitionsa-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transitiondelay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  -moz-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.menu-button-rotate span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.menu-button-rotate span::after {
  -moz-transition-property: bottom, transform;
  -o-transition-property: bottom, transform;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.menu-button-rotate.active span {
  background-color: transparent;
}

.menu-button-rotate.active span::before {
  top: 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-button-rotate.active span::after {
  bottom: 0;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-button-rotate.active span::before,
.menu-button-rotate.active span::after {
  background-color: orange;
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0s, 0.3s;
}

/* END menu-icon section */
/* Begin #home section */
#home {
  background-image: url("../img/main-bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-text {
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.button {
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px solid white;
  margin-right: 15px;
  animation: colors 3 s 3;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.button.select {
  border-color: orange;
  color: orange;
}

/* End #home section */
/* Begin Mouse down section */
.mouse-down {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

.mouse {
  position: relative;
  top: 0;
  bottom: -80px;
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
}

.weel {
  left: 0;
  top: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 50%;
  animation: slideInDown 1 s infinite;
}

/* End Mouse down section*/
/* BEGIN video background section */
video#logo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: black;
  background-size: cover;
  z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* END video background section */
/* BEGIN section About part */
.light p {
  font-size: 1em;
  color: black;
  line-height: 1.7142857142857142857142857142857em;
  margin-bottom: 2.2971428571428571428571428571429em;
}

.light .quote p {
  font-size: 1.2857142857142857142857142857143em;
  color: black;
  letter-spacing: 0.025em;
  line-height: 2.222em;
  margin-bottom: 0;
}

.light .line {
  display: block;
  width: 37.5%;
  height: 2px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}

.light .img {
  width: 100%;
  height: 237px;
  background-color: black;
}

.light .about-name-skill {
  padding-top: 0;
  height: 1em;
  margin-bottom: 0.72em;
  display: block;
}

.light .about-name-skill .about-name {
  float: left;
}

.light .about-name-skill .about-skill {
  float: right;
}

.light .about-slide-container {
  height: 1.423em;
  width: 100%;
  background-color: grey;
}

.light .about-slide-container .about-scroll {
  width: 70%;
  height: 100%;
  background-color: black;
}

.light .about-slide-container .about-scroll.active {
  width: 0;
}

.light .about-slide-container .about-scroll.after-active {
  transition: above-level;
}

#first-skill .about-slide-container .after-active {
  width: 70%;
}

#second-skill {
  padding-top: 1.43em;
}

#second-skill .about-slide-container .after-active {
  width: 90%;
}

#third-skill {
  padding-top: 1.43em;
}

#third-skill .about-slide-container .after-active {
  width: 98%;
}

#fourth-skill {
  padding-top: 1.43em;
}

#fourth-skill .about-slide-container .after-active {
  width: 85%;
}

.row.about-contant {
  margin-top: 4.286em;
  margin-bottom: 5.714em;
}

/* END section About part */
/* BEGIN NUMBERS section */
#numbers.dark {
  background-color: black;
}

#numbers.dark h4 {
  color: white;
  line-height: 1.667em;
  position: relative;
}

#numbers.dark h4:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-bottom: 1.111em;
  width: 20px;
  height: 1px;
  background-color: orange;
}

#numbers.dark i {
  color: white;
}

#numbers.dark h2:before, #numbers.dark h2:after {
  background-color: white;
}

.numbers-icon-position {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.numbers-icon-position i {
  margin-top: 0;
  margin-bottom: 0.417em;
  font-size: 2.571em;
  display: inherit;
}

.numbers-icon-position p {
  margin: 0;
  padding: 0;
  font-size: 1.429em;
}

.numbers-icon-position:hover {
  cursor: pointer;
}

.numbers-icon-position:hover i {
  color: orange !important;
}

/* END NUMBERS section */
/* BEGIN our team section  */
.team-container h4 {
  letter-spacing: 0.05em;
}

.team-container h4:after {
  content: '';
  display: block;
  margin: 0.833em auto 0 auto;
  width: 20px;
  height: 1px;
  background-color: black;
}

.team-container p {
  text-align: center;
  color: #777777;
  margin-bottom: 0.714em;
}

.team-text-onshow {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  -webkit-transition: background-color 2s, opacity 1s ease-out;
  -moz-transition: background-color 2s, opacity 1s ease-out;
  -ms-transition: background-color 2s, opacity 1s ease-out;
  -o-transition: background-color 2s, opacity 1s ease-out;
  transition: background-color 2s, opacity 1s ease-out;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.team-text-onshow .team-text-onshow-content {
  padding: 2.143em;
  color: white;
}

.team-text-onshow .team-text-onshow-content p.team-text-onshow-person-name {
  text-transform: uppercase;
  text-align: left;
  padding-top: 0.714em;
  padding-bottom: 1.429em;
  margin: 0;
  color: white;
}

.team-text-onshow .team-text-onshow-content h5 {
  color: orange;
}

.team-text-onshow .team-text-onshow-content .separate-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.team-text-onshow .team-text-onshow-content p {
  margin-top: 2.143em;
  margin-top-margin-bottom: 0.714em;
  margin-top-text-align: left;
  margin-top-color: #cdcdcd;
  margin-top-letter-spacing: 0.01em;
}

.team-text-onshow .team-text-onshow-content .team-text-onshow-shot-sepparate {
  display: block;
  width: 20px;
  height: 1px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

.team-text-onshow .team-text-onshow-content .team-text-onshow-icons-container {
  font-size: 1.286em;
  text-align: center;
  padding-top: 1em;
}

.team-text-onshow .team-text-onshow-content .team-text-onshow-icons-container i {
  padding-left: 0.556em;
}

.team-employe-photo {
  position: relative;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 360px;
  background-color: none;
  text-align: center;
}

.team-employe-photo img {
  width: 263px;
  height: 360px;
}

.team-employe-photo:hover .team-text-onshow {
  background-color: black;
  visibility: visible;
  opacity: 1;
}

.button:hover {
  color: white;
  background-color: orange;
  border: 1px solid orange;
}

input.button {
  display: block;
  margin: 30px auto 50px auto;
  border: 1px solid orange;
  padding: 10px 30px;
  font-size: 1em;
  background: none;
  color: orange;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

/* END our team section */
/* BEGIN video section  */
#video .video-full {
  position: relative;
  height: 300px;
  text-align: center;
  color: white;
  overflow: hidden;
}

#video .video-full .child {
  display: inline-block;
  vertical-align: middle;
}

#video .video-full .child p {
  font-size: 48px;
  line-height: 40px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

#video .video-full .child p:hover {
  color: orange;
  border-color: orange;
}

#video .video-full .helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

video#middle-video {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

/* END video section */
/* BEGIN section services  */
#services {
  border-bottom: 1px solid black;
}

#services .tabs-rows {
  margin-bottom: 5.714em;
}

#services input {
  float: right;
  margin-top: 0.571em;
  margin-bottom: 0;
}

#services .services-tabs-image {
  margin-top: 1em;
  height: 200px;
}

#services .services-container {
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #777777;
  margin-bottom: 8.571em;
}

#services .services-container.active {
  color: black;
}

#services .services-container i {
  font-size: 2.143em;
}

#services .services-container:after {
  content: "";
  display: inline;
  height: 3.571em;
  width: 1px;
  background-color: #777777;
  position: absolute;
  right: 0;
  top: 20%;
  vertical-align: middle;
}

#services .services-container:after :last-of-type {
  display: none;
}

#services .services-container h5 {
  letter-spacing: 0.1em;
}

#services .line-separator {
  width: 1.429em;
  height: 1px;
  background-color: #777777;
  display: block;
  margin: 0 auto;
  margin-top: 0.357em;
  margin-bottom: 1.429em;
}

#services .active + .line-separator {
  background-color: black;
}

#services .tabs {
  margin-bottom: 14.286em;
  letter-spacing: 0.01em;
}

#services .tabs img {
  margin-top: 10%;
  height: 180px;
  width: 100%;
  background-color: black;
}

#services .tabs h5 {
  margin: 1.25em 0 1.875em 0;
  font-weight: bold;
}

#services .tabs .services-tabs-main-section ul li {
  list-style-type: disc;
}

#services .tabs .additational-content h6 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1.429em 0 2.143em 0;
}

.services-tabs-separate-section {
  border-top: 1px solid black;
}

/* END section services */
/* BEGIN section portfolio  */
#portfolio .col-md-4, #portfolio .col-md-8 {
  padding: 0;
}

#portfolio .portfolio-menu {
  text-align: center;
}

#portfolio .portfolio-menu ul {
  margin-bottom: 1.786em;
}

#portfolio .portfolio-menu ul li {
  display: inline-block;
  padding-left: 1.071em;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
  margin-bottom: 0.357em;
}

#portfolio .portfolio-menu ul li.active {
  color: black;
}

#portfolio .item {
  overflow: hidden;
  height: 17.875em;
  margin-bottom: 0.714em;
  z-index: 2;
}

#portfolio .item img {
  z-index: -5;
  transition: transform 2s;
}

#portfolio .item img:hover {
  transform: scale(1.2);
}

#portfolio .item .portfolio-hover-block {
  position: absolute;
  transition: height 0.4s;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

#portfolio .item .portfolio-hover-block:hover {
  opacity: 1;
  height: 100%;
}

#portfolio .item .portfolio-hover-block:hover ~ img {
  transform: scale(1.2);
}

#portfolio .item .portfolio-hover-block i {
  color: white;
  font-size: 1.286em;
  padding-top: 0.556em;
}

#portfolio .item .portfolio-hover-block p#name {
  text-transform: uppercase;
  color: white;
  padding-top: 3.571em;
}

#portfolio .item .portfolio-hover-block .separate-line {
  margin: 0 auto;
  margin-top: 1.429em;
  width: 1.429em;
  height: 1px;
  background-color: white;
}

#portfolio .item .portfolio-hover-block .portfolio-buttons-section {
  width: 14.286em;
  margin: 0 auto;
}

#portfolio .item .portfolio-hover-block .portfolio-buttons-section i {
  color: white;
  margin-left: 1.667em;
  margin-top: 1.458em;
  font-size: 1.714em;
  padding: 0.625em;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: color 0.4s, border-color 0.4s;
  -moz-transition: color 0.4s, border-color 0.4s;
  -ms-transition: color 0.4s, border-color 0.4s;
  -o-transition: color 0.4s, border-color 0.4s;
  transition: color 0.4s, border-color 0.4s;
}

#portfolio .item .portfolio-hover-block .portfolio-buttons-section i:hover {
  color: orange;
  border-color: orange;
}

#portfolio .item .portfolio-hover-block .portfolio-buttons-section i#first {
  margin-left: 0;
}

#shuffleSection {
  margin-bottom: 5.714em;
}

/* END section portfolio */
/*BEGIN SECTION TESTIMONIAL*/
#testimonials p {
  text-align: center;
  margin-top: 2.143em;
  display: block;
  position: relative;
}

#testimonials .line-separator {
  width: 1.429em;
  height: 1px;
  background-color: white;
  margin: 0.714em auto 2.143em auto;
}

#testimonials .testimonials-sliger-navigate-buttons {
  text-align: center;
  padding-top: 0.714em;
  margin-bottom: 5.714em;
}

#testimonials .testimonials-sliger-navigate-buttons i {
  margin-left: 1.429em;
}

#testimonials .testimonials-sliger-navigate-buttons i:hover {
  cursor: pointer;
}

#testimonials .testimonials-sliger-navigate-buttons i:first-child {
  margin: 0;
}

/*END SECTION TESTIMONIAL*/
/*BEGIN SECTION CLIENTS*/
#clients {
  border-bottom: 1px solid black;
}

#clients h2 {
  text-align: left;
  float: left;
  position: relative;
}

#clients .client {
  height: 22px;
  width: 140px;
  display: inline-block;
}

#clients .clients {
  padding: 20px 10px;
  border: 1px solid black;
  display: inline-block;
  margin-top: 80px;
  margin-left: 20px;
  cursor: pointer;
  float: left;
}

#clients .clients-client-container {
  -webkit-user-select: none;
  cursor: e-resize;
  overflow: hidden;
}

#clients .clients-container-wrap {
  width: 9999px;
}

.black-and-white,
.black-and-white img {
  -webkit-filter: url("../img/filters.svg#blur");
  -moz-filter: url("../img/filters.svg#blur");
  filter: url("../img/filters.svg#blur");
}

/*BEGIN SECTION CLIENTS*/
/*BEGIN SECTION PLANS*/
#plans .main-container {
  position: relative;
  background-color: #e9e7e7;
}

#plans .main-container P {
  color: #161616;
}

#plans .main-container :nth-child(3) {
  border-top: 1px dashed black;
}

#plans .main-container:hover .plans-caption p {
  color: white;
}

#plans .main-container .plans-caption {
  display: block;
  height: 7.143em;
  width: 100%;
}

#plans .main-container .plans-caption p {
  transition: .4s;
  line-height: 4.545em;
  background-color: black;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #767676;
}

#plans .main-container .plans-price-part {
  text-align: center;
  height: 14.286em;
  width: 100%;
  display: table;
}

#plans .main-container .plans-price-part p {
  display: table-cell;
  vertical-align: middle;
  color: black;
}

#plans .main-container .plans-price-part p:before,
#plans .main-container .plans-price-part p:after {
  content: "";
  width: 1.429em;
  height: 1px;
  margin: 0 1.429em 1.429em 1.429em;
  vertical-align: middle;
  display: inline-block;
  background-color: black;
}

#plans .main-container .plans-price-part p span {
  font-size: 3.143em;
}

#plans .main-container .plans-options {
  border-bottom: 1px dashed black;
}

#plans .main-container .plans-options p {
  padding: 1.429em 2.143em;
}

#plans .main-container .plans-options .plans-options-caption {
  float: left;
}

#plans .main-container .plans-options .plans-options-capabilities {
  float: right;
}

#plans .main-container .plans-options .plans-options-capabilities p {
  font-size: 1.143em;
}

#plans .plans-see-more {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: none;
}

#plans .plans-see-more p {
  padding: 0.714em;
  padding-bottom: 0;
  color: black;
}

#plans .plans-sign-up-button {
  border-color: black;
  color: black;
  transition: .4s;
  font-size: 1.143em;
  display: block;
  width: 8.125em;
  margin: 2.5em auto;
}

#plans .plans-sign-up-button:hover {
  border-color: white;
  color: white;
}

#plans .plans-most-popular {
  text-transform: uppercase;
  background-color: #8f6219;
  color: white;
  text-align: center;
  font-size: 1em;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1.25em;
  width: 100%;
}

#plans .plans-caption p.plans-most-popular-plan {
  color: white;
}

#plans .plans-sign-up-button.button.active {
  border-color: orange;
  color: white;
  background-color: orange;
}

/*END SECTION PLANS*/
#get_in_touch {
  color: white;
}

#get_in_touch h2:before, #get_in_touch h2:after {
  background-color: orange;
}

#get_in_touch h6 {
  text-align: center;
  padding: 1.25em;
  position: static;
}

#get_in_touch .get-in-touch-subscribe-section {
  position: relative;
  display: inline-block;
  width: 100%;
}

#get_in_touch .get-in-touch-subscribe-section span {
  position: absolute;
  left: 7px;
  top: 7px;
}

#get_in_touch .centered {
  margin-bottom: 80px;
}

#get_in_touch input.get-in-touch-email-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 7px;
  padding-left: 24px;
  width: 100%;
  position: relative;
}

#get_in_touch input.button.subscribe {
  margin: 0;
  padding: 7px 40px;
}

#contacts {
  background-color: black;
}

#contacts .contacts-container {
  background-color: black;
}

#contacts .contacts-container.right {
  background-color: #fff;
}

#contacts h2.no-decoration {
  padding: 50px 0px;
  color: white;
}

#contacts h2.no-decoration:before, #contacts h2.no-decoration:after {
  width: 0;
  height: 0;
}

#contacts h2 {
  padding: 50px 0;
}

#contacts .contacts-line-separator {
  width: 100px;
  height: 1px;
  background-color: orange;
  margin: 0 auto;
}

#contacts p {
  margin: 30px;
  text-align: center;
}

#contacts .contacts-input-container {
  position: relative;
  text-align: center;
}

#contacts .contacts-input-container span {
  position: absolute;
  color: white;
  top: 0;
  padding-left: 7px;
}

#contacts input.contacts-input,
#contacts textarea.contacts-input {
  color: white;
  background-color: transparent;
  padding-left: 24px;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 80%;
  margin-bottom: 30px;
}

#contacts input.button {
  margin: 0 0 70px 0;
  display: block;
}

#contacts .contacts-information-container h6 {
  margin-bottom: 2px;
}

#contacts .contacts-information-container-content {
  margin: 10px 0;
}

#contacts .contacts-information-container-content i {
  margin-right: 5px;
}

#contacts .contacts-information-container-content span {
  color: #777777;
}

#contacts .contacts-information-container-content a {
  font-size: 1.5em;
  color: black;
  transition: color 0.5s;
}

#contacts .contacts-information-container-content a:hover, #contacts .contacts-information-container-content a:active {
  color: orange;
  text-decoration: none;
}

#contacts .contacts-information-container {
  margin-bottom: 30px;
}

#contacts .contacts-information-container-line-sepatator {
  width: 20px;
  height: 1px;
  background-color: orange;
}

#map {
  background-color: orange;
}

#map h5 {
  margin: 40px auto;
  color: white;
}

#map h5 i {
  margin: 0 10px;
  font-size: 1.3em;
}

#map :hover {
  cursor: pointer;
}

#fullMap {
  display: none;
}

#footer p {
  margin: 30px 0;
  text-align: center;
}

#footer a {
  font-size: 1.5em;
  color: black;
  transition: color 0.5s;
  padding: 0 5px;
}

#footer a:hover, #footer a:active {
  color: orange;
  text-decoration: none;
}

#footer .footer-text-left p {
  text-align: left;
}

#footer .footer-text-right p {
  text-align: right;
}
